<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='menu_list.css') }}">

<section>
    <div class="title">TEA</div>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='image/lavender.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu_detail/tea01/">라벤더티 3,500원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/mint.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu_detail/tea02/">민트티 3,500원</a>
                </div>
            </td>
        </tr>
    </table>
</section>

{% endblock %}
</body>
</html>