<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='menu_detail.css') }}">

<div class="coffee01">
    <div class="detail1">
        <h1>{{ categories.name }}</h1>
        <img src="/static/image/{{products.image}}">
    </div>
    <div class="detail2">
        <h4>{{ products.name }}</h4>
        <div class="line"></div>
        <br>
        {{ products.description }}
        <br><br><br><br><br>
        <a href="/order/order/?productId={{request.args.get('productId')}}&qty=1" class="delete btn btn-sm btn-outline-secondary" id="btn">주문하기</a>
    </div>
</div>

{% endblock %}
</body>
</html>