<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='menu_list.css') }}">

<section>

    <div class="title">COFFEE</div>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='image/americano.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=1&name=COFFEE&qty=1">아메리카노 2,000원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/latte.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=2&name=COFFEE">카페라떼 3,000원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/Vanilla.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=3&name=COFFEE">바닐라라떼 4,000원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/dolce.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=4&name=COFFEE">돌체라떼 3,500원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/espresso.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=5&name=COFFEE">에스프레소 1,500원</a>
                </div>
            </td>
        </tr>
    </table>
    <br><br>

    <div class="title">JUICE</div>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='image/strawberry.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=6&name=JUICE">딸기라떼 5,000원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/banana.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=7&name=JUICE">바나나스무디 4,500원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/grapefruit.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=8&name=JUICE">자몽에이드 4,000원</a>
                </div>
            </td>
        </tr>
    </table>
    <br><br>

    <div class="title">TEA</div>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='image/lavender.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=9&name=TEA">라벤더티 3,500원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/mint.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=10&name=TEA&Qty=1">민트티 3,500원</a>
                </div>
            </td>
        </tr>
    </table>
    <br><br>

    <div class="title">CAKE</div>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='image/cheesecake.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=11&name=CAKE">뉴욕치즈케이크 4,500원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/crepe.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=12&name=CAKE">크레이프케이크 4,500원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/gateau.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=13&name=CAKE">가토쇼콜라 5,000원</a>
                </div>
            </td>
        </tr>
    </table>
    <br><br>

    <div class="title">COOKIE</div>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='image/chocolatechip.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=14&name=COOKIE">초코칩쿠키 1,500원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/oatmeal.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu/menu_detail?productId=15&name=COOKIE">오트밀쿠키 1,500원</a>
                </div>
            </td>
        </tr>
    </table>
</section>

{% endblock %}
</body>
</html>