<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='menu_list.css') }}">

<section>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', filename='image/chocolatechip.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu_detail/cookie01/">초코칩쿠키 1,500원</a>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename='image/oatmeal.png') }}">
                <br>
                <div class="menu_name">
                    <a href="/menu_detail/cookie02/">오트밀쿠키 1,500원</a>
                </div>
            </td>
        </tr>
    </table>
</section>

{% endblock %}
</body>
</html>