/* 로그인 */

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            to right,
            rgba(20, 20, 20, 0) 10%,
            rgba(20, 20, 20, 0.25) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(20, 20, 20, 0.75) 75%,
            rgba(20, 20, 20, 1) 100%
          ),
          url(https://images.unsplash.com/photo-1504627298434-2119d6928e93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
    background-size: cover;
}

.form_main {
    float: left;
    margin-left: 38%;
    margin-top: 80px;
    padding-top:50px;
    width: 400px;
    height: 300px;
}

#id {
	height: 50px;
	width: 300px;
	text-align: center;
	font-size: 15px;
}

#password {
	height: 50px;
	width: 300px;
	text-align: center;
	font-size: 15px;
}

#btn1 {
	height: 35px;
	width: 300px;
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
	background-color: #8C615A;
	color: #fff;
	font-weight: bolder;
}

#btn2 {
	height: 35px;
	width: 300px;
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
	background-color: #D7DAB7;
	color: #fff;
	font-weight: bolder;
}
