section {
	margin: auto;
	width: 1273px;
	text-align: center;
	margin-top: 150px;
}

#slide{
	height: 500px;
	overflow: hidden;
}

#slide ul{
	width:calc(100% * 4);display:flex;animation:slide 15s infinite;
}

#slide li{
	width:calc(100% / 4);height:500px;
}

#slide li:nth-child(1) {
	background-image: url("image/m1.jpg");
	overflow: hidden;
	background-size: cover;
	border-radius: 5px;
}

#slide li:nth-child(2){
	background-image: url("image/m2.jpg");
	overflow: hidden;
    background-size: cover;
    border-radius: 5px;
}

#slide li:nth-child(3){
	background-image: url("image/m3.jpg");
	overflow: hidden;
    background-size: cover;
    border-radius: 5px;
}

#slide li:nth-child(4){
	background-image: url("image/m4.jpg");
	overflow: hidden;
    background-size: cover;
    border-radius: 5px;
}

#slide ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

@keyframes slide {
      0% {margin-left:0;} /* 0 ~ 10  : 정지 */
      10% {margin-left:0;} /* 10 ~ 25 : 변이 */
      25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
      35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
      50% {margin-left:-200%;}
      60% {margin-left:-200%;}
      75% {margin-left:-300%;}
      85% {margin-left:-300%;}
      100% {margin-left:0;}
}

.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}

.scale:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.img {
    width: 1273px;px;
    height: 500px;
    overflow:hidden
}