section {
   padding-top: 9%;
   padding-left: 10%;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: 17%;
}

.line {
    width: 1000px;
    border-bottom: 3px solid #000;
    margin-left: 15%;
}

h1 {
    width: 800px;
    margin-left: 31%;
}

h6 {
    width: 270px;
    margin-left: 95%;
    padding: 5px;
    padding-top: 7px;
    font-weight: bolder;
}

p {
    word-spacing: 80px;
}

#btn1 {
	height: 38px;
	width: 150px;
	text-align: center;
	font-size: 15px;
	background-color: #8C615A;
	color: #fff;
	font-weight: bolder;
	float: left;
	margin-left: 65%;
	margin-top: 5px;
}

#btn2 {
	height: 38px;
	width: 150px;
	text-align: center;
	font-size: 15px;
	background-color: #8C615A;
	color: #fff;
	font-weight: bolder;
	float: left;
	margin-left: 65%;
	margin-top: 5px;
}

#btn3 {
	height: 35px;
	width: 35px;
	text-align: center;
	font-size: 15px;
	background-color: #8C615A;
	color: #fff;
	font-weight: bolder;
	float: left;
    margin-bottom: 1px;
    margin-left: 78%;
}

#qty{
	height: 35px;
	width: 100px;
	text-align: center;
	font-size: 15px;
	margin-left: 287%;
}

.total {
    margin-left: 300%;
    font-weight: bolder;
}