section {
   padding-top: 9%;
   padding-left: 15%;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: 36%;
  margin-top: 4%;
}

h1 {
    width: 800px;
    margin-left: 26%;
    font-weight: bolder;
    margin-top: 2%;
}

#btn {
	height: 38px;
	width: 150px;
	text-align: center;
	font-size: 15px;
	background-color: #8C615A;
	color: #fff;
	font-weight: bolder;
	float: left;
	margin-left: 35%;
	margin-top: 15px;
}