/* 질문 답변 등록페이지 */

.form_padding {
    padding-top: 9%;
}

section {
    padding-top: 8%;
    position: inherit;
}

.card {
    position: inherit;
}

#btn {
	height: 38px;
	width: 150px;
	text-align: center;
	font-size: 15px;
	background-color: #8C615A;
	color: #fff;
	font-weight: bolder;
	position: inherit;
}