<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form_main">
            <div class="form-group">
                <input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.data or '' }}" placeholder="이메일">
                <input type="password" class="form-control" name="password" id="password"
                       value="{{ form.password.data or '' }}" placeholder="비밀번호">
            </div>
            <button type="submit" class="btn btn-default" id="btn1">로그인</button>
        </div>
    </form>
</div>

{% endblock %}

<script>

</script>

</body>
</html>