<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='order.css') }}">

<section>
    <form action="/order/order/" method="GET" class="get-form">
        <label><h1>ORDER</h1></label>
        <div class="line"></div>
        <table>
            <tr>
                <td><h6>상품이미지</h6></td>
                <td><h6>상품명</h6></td>
                <td><h6>상품가격</h6></td>
                <td><h6>상품갯수</h6></td>
            </tr>
        </table>
        <div class="line"></div>
        <br>
        <table>
            {% if cart %}
                {% for cart in cart_list %}
                <tr>
                    <td><h6><img src="/static/image/{{cart.image}}"></h6></td>
                    <td><h6><a href="/menu/menu_detail?productId={{ cart.productId }}&name={{ cart.name }}">{{ cart.name }}</a></h6></td>
                    <td><h6>{{ cart.price * qty_total }}</h6></td>
                    <td><input type="number" class="form-control" name="qty" id="qty" value="{{ qty_total }}"></td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td><h6>장바구니에 물건이 없습니다.</h6></td>
            </tr>
            {% endif %}
        </table>
        <br>
        <div class="line"></div>
        <table>
            <tr>
                <td><h6>합계</h6></td>
                <td><div class="total">{{ price_total }}</div></td>
            </tr>
        </table>
        <div class="line"></div>
        <a href="/order/payment/" class="btn btn-sm btn-outline-secondary "
               data-uri="{{ url_for('order.payment', userId=cart.userId) }}" id="btn">결제</a>
    </form>
</section>

    {% endblock %}

</body>
</html>