<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='order.css') }}">

<section>
    <form action="/order/order/" method="GET" class="get-form">
        <label><h1>ORDER</h1></label>
        <div class="line"></div>
        <table>
            <tr>
                <td><h6>상품이미지</h6></td>
                <td><h6>상품명</h6></td>
                <td><h6>상품가격</h6></td>
                <td><h6>상품갯수</h6></td>
            </tr>
        </table>
        <div class="line"></div>
        <br>
        <table>
            <tr>
                <td><h6><img src="/static/image/{{products.image}}"></h6></td>
                <td><h6>{{ products.name }}</h6></td>
                <td><h6>{{ cart.price }}</h6></td>
                <td><h6><a href="/order/order/?productId={{request.args.get('productId')}}&qty={{request.args.get('qty')}}"
                           class="btn btn-sm btn-outline-secondary" id="btn2">수정</a></h6></td>
                <td><input type="number" class="form-control" name="qty" id="qty" value="{{ cart.qty }}"></td>
            </tr>
        </table>
        <br>
        <div class="line"></div>
        <table>
            <tr>
                <td><h6>합계</h6></td>
                <td><h6></h6></td>
            </tr>
        </table>
        <div class="line"></div>
        <a href="/order/payment/" class="btn btn-sm btn-outline-secondary" id="btn">결제</a>
    </form>
</section>

    {% endblock %}

</body>
</html>