<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='menu_detail.css') }}">

<div class="coffee01">
    <div class="detail1">
        <h1>CAKE</h1>
        <img src="{{ url_for('static', filename='image/gateau.png') }}">
    </div>
    <div class="detail2">
        <h4>가토쇼콜라</h4>
        <div class="line"></div>
        <br>
        진한 초콜릿 케이크 시트와 두유, 다크 초콜릿으로 만든 가나슈, 라즈베리 잼으로 샌드한 비건 케이크입니다.
        <br><br><br><br><br>
        <a href="#" class="btn btn-primary" id="btn">주문하기</a>
    </div>
</div>

{% endblock %}
</body>
</html>