<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='menu_detail.css') }}">

<div class="coffee01">
    <div class="detail1">
        <h1>COFFEE</h1>
        <img src="{{ url_for('static', filename='image/Vanilla.png') }}">
    </div>
    <div class="detail2">
        <h4>바닐라라떼</h4>
        <div class="line"></div>
        <br>
        리저브만을 위한 프리미엄 바닐라 빈 시럽이 부드럽게 어우러진 카페 라떼
        <br><br><br><br><br>
        <a href="#" class="btn btn-primary" id="btn">주문하기</a>
    </div>
</div>

{% endblock %}
</body>
</html>