<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='menu_detail.css') }}">

<div class="coffee01">
    <div class="detail1">
        <h1>CAKE</h1>
        <img src="{{ url_for('static', filename='image/oatmeal.png') }}">
    </div>
    <div class="detail2">
        <h4>오트밀쿠키</h4>
        <div class="line"></div>
        <br>
        달콤하게 코팅한 견과류와 고소한 오트밀이 들어있는 쿠키입니다.
        <br><br><br><br><br>
        <a href="#" class="btn btn-primary" id="btn">주문하기</a>
    </div>
</div>

{% endblock %}
</body>
</html>