<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='menu_detail.css') }}">

<div class="coffee01">
    <div class="detail1">
        <h1>JUICE</h1>
        <img src="{{ url_for('static', filename='image/grapefruit.png') }}">
    </div>
    <div class="detail2">
        <h4>자몽에이드</h4>
        <div class="line"></div>
        <br>
        새콤한 자몽과 달콤한 꿀이 깊고 그윽한 풍미의 주스
        <br><br><br><br><br>
        <a href="#" class="btn btn-primary" id="btn">주문하기</a>
    </div>
</div>

{% endblock %}
</body>
</html>