<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, pybo!</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top ml-5">
        <div id="menu1">
            <div class="row">
                <nav class="navbar navbar-light bg-#fff">
                    <div id="space1"></div>
                    <a class="navbar-brand mr-5" href="{{ url_for('main.index') }}">COFFEE BOT</a>
                    <div id="space2"></div>
                    <a class="nav-link text-dark" href="#">계정생성</a>
                    <a class="nav-link text-dark" href="#">로그인</a>
                </nav>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-inverse navbar-fixed-top ml-5">
        <div id="menu2">
            <ul>
                <li><a class="nav-link text-dark" href="/">MAIN</a></li>
                <li><a class="nav-link text-dark" href="http://127.0.0.1:5000/menu/list/">MENU</a></li>
                <li><a class="nav-link text-dark" href="#">STORE</a></li>
                <li><a class="nav-link text-dark" href="http://127.0.0.1:5000/question/list/">Q&A</a></li>
            </ul>
        </div>
    </nav>


<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}

{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->

    <footer>
        LOGO
        대구광역시 서구 서대구로 7길2 (내당동 245-4번지 2층)
        ⓒ 2021 COFFEE BOT Coffee Company. All Rights Reserved.
    </footer>

</body>
</html>