<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>COFFEE BOT</title>

</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div id="menu1">
        <div class="row">
            <nav class="navbar navbar-light bg-#fff">
                <div id="space1"></div>
                <a class="navbar-brand mr-5" href="{{ url_for('main.index') }}">COFFEE BOT</a>


                {% if session.get('user_id') %}
                <div id="space3"></div>
                {{ session.get('user_id') }}님, 안녕하세요.
                <a class="nav-link text-dark" href="{{ url_for('auth.mypage') }}">MYPAGE</a>
                <a class="nav-link text-dark" href="{{ url_for('auth.logout') }}">LOGOUT</a>
                {% else %}
                <div id="space2"></div>
                <a class="nav-link text-dark" href="{{ url_for('auth.signup') }}">JOIN</a>
                <a class="nav-link text-dark" href="{{ url_for('auth.login') }}">LOGIN</a>
                {% endif %}

            </nav>
        </div>
    </div>
</nav>
</html>