<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
        <div id="menu1">
            <div class="row">
                <nav class="navbar navbar-light bg-#fff">
                    <div id="space1"></div>
                    <a class="navbar-brand mr-5" href="{{ url_for('main.index') }}">COFFEE BOT</a>
                    <div id="space2"></div>

                    {% if session.get('user_id') %}
                            <a class="nav-link text-dark" href="{{ url_for('auth.logout') }}">{{ session.get('user_id') }} (로그아웃)</a>
                    {% else %}
                            <a class="nav-link text-dark" href="{{ url_for('auth.signup') }}">SIGN IN</a>
                            <a class="nav-link text-dark" href="{{ url_for('auth.login') }}">LOGIN</a>
                    {% endif %}

                </nav>
            </div>
        </div>
    </nav>
</body>
</html>